<!DOCTYPE html>
<html lang="en">
	<head>
		<script src="//code.jquery.com/jquery-1.10.2.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<style>
		 img {
		    margin-bottom: 10px;
		 }
		 #tracks {
		 	min-height: 500px;
		 }
		 iframe {
		 	border: 0;
		 	float: right;
			position: relative;
			bottom: 80px;
		 }
		 footer{
		 	text-align: center;
		 }

  </style>
	</head>
	<body >
	<div class="container">
		
	<div class="alert alert-warning" role="alert" id='alert'></div>
		<div class="jumbotron">
			<h1>Spotify poetry  </h1>
			<p> score: <span id ="score" class="label label-default"></span> </p>
			<p> total requests #: <span id ="reqs" class="label label-default"></span> </p>
			<div id="player"></div>
		</div>
		<div class="row">
			<div class='col-md-1'> </div>
			<div class='col-md-7'>
				<div class='input-group'>
					<input class="form-control input-lg" type='text' id='query' value="if i can't let it go">
					 <span class="input-group-btn">
					 	<button class="btn btn-primary btn-lg"> spotify </button>
					</span>
				</div>
			</div>
		</div>
		
		
		
		<div id='tracks' class="row"></div>
		<footer>
			<p> Xingzhong - 2014 </p>
		</footer>
	</div>
	</body>
	
	<script>
	$(document).ready(function(){
	  $.getJSON("http://api.icndb.com/jokes/random/", {}, function(res){
	  	console.log(res);
	  	$("#query").val(res.value.joke);
	  })
	  $("#alert").hide();
	  $("button").click(function(){
	    $.getJSON("/search", {q: $("#query").val()},
	    	function(result){
	    		console.log(result);
	    		$("#player").html(result.iframe);
	    		$("#score").text(result.ret[1]);
	    		$("#reqs").text(result.total);
	    		$("#tracks").html("");
	    		if (result.ignore.length > 0) {
	    			$("#alert").show();
	    			$("#alert").text(result.ignore[0] +" does not match any track, use unknown replaced!");
	    		}
	    		$.each( result.ret[0][0], function( i, item ) {
	    			console.log(i, item);
	    			track = "<div class='col-sm-6 col-md-4'> <div class='thumbnail'>"
	    			track += "<img src='" + item.album.images[0].url + "'>"
	    			track += "<div class='caption'>"
	    			track += "<h3><a href='" + item.href  + "'>"+  item.name + "</a></h3>"
	    			track += "<p><a href='"+item.album.href +"'>" + item.album.name + "</a></p>"
	    			track += "<p><a href='"+item.artists[0].href +"'>" + item.artists[0].name + "</a></p>"
	    			track += "</div></div></div>"
	    			$("#tracks").append(track);
	    		});
	    });
	  });
	});
	
	</script>
</html>